<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ShowFullRegistry" value="full" />
    <add key="CsvSeparator" value="," />
    <add key="CsvFileNameExtension" value="csv" />
    <add key="WorkingDirectoryBase" value="Desktop" />
    <add key="WorkingDirectory" value="StockExchange" />
    <add key="WorkingDirectoryRawDownloads" value="RawDownload" />
  </appSettings>
</configuration>